.contact{
    
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top:2rem;
   margin: 0 auto;

}
.contacttitle{
    
}
.contactform{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 90vw;
    max-width: 60rem;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    

}
.contactname, .contactcomment{
    width: 100%;
    max-width: 40rem;
    border-radius: 0.5rem;
    border: 1px solid white;
    margin: 0.5rem;
    outline: none;
    padding: 1rem;
    color: white;
    background: rgb(40, 40, 40);
    
}
.contactbtn{
    background-color: white;
    width: 6rem;
    height: 2rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;

}
